#NET CLK            LOC="P94"  | IOSTANDARD=LVTTL | PERIOD=31.25ns;
#NET RX             LOC="P101" | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;
#NET TX             LOC="P105" | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST | PULLUP;

NET ADDR(14)       LOC="P88"  | IOSTANDARD=LVTTL;
NET ADDR(13)       LOC="P93"  | IOSTANDARD=LVTTL;
NET ADDR(12)       LOC="P98"  | IOSTANDARD=LVTTL;
NET ADDR(11)       LOC="P99"  | IOSTANDARD=LVTTL;
NET ADDR(10)       LOC="P97"  | IOSTANDARD=LVTTL;
NET ADDR(9)        LOC="P92"  | IOSTANDARD=LVTTL;
NET ADDR(8)        LOC="P87"  | IOSTANDARD=LVTTL;
NET ADDR(7)        LOC="P84"  | IOSTANDARD=LVTTL;
NET ADDR(6)        LOC="P82"  | IOSTANDARD=LVTTL;
NET ADDR(5)        LOC="P80"  | IOSTANDARD=LVTTL;
NET ADDR(4)        LOC="P78"  | IOSTANDARD=LVTTL;
NET ADDR(3)        LOC="P74"  | IOSTANDARD=LVTTL;
NET ADDR(2)        LOC="P95"  | IOSTANDARD=LVTTL;
NET ADDR(1)        LOC="P62"  | IOSTANDARD=LVTTL;
NET ADDR(0)        LOC="P59"  | IOSTANDARD=LVTTL;

NET DATA(7)        LOC="P85"  | IOSTANDARD=LVTTL;
NET DATA(6)        LOC="P83"  | IOSTANDARD=LVTTL;
NET DATA(5)        LOC="P81"  | IOSTANDARD=LVTTL;
NET DATA(4)        LOC="P79"  | IOSTANDARD=LVTTL;
NET DATA(3)        LOC="P75"  | IOSTANDARD=LVTTL;
NET DATA(2)        LOC="P67"  | IOSTANDARD=LVTTL;
NET DATA(1)        LOC="P66"  | IOSTANDARD=LVTTL;
NET DATA(0)        LOC="P61"  | IOSTANDARD=LVTTL;

NET RW             LOC="P57"  | IOSTANDARD=LVTTL; # High = CPU Read, Low = CPU Write

NET M2             LOC="P134" | IOSTANDARD=LVTTL;  # jumper wire!
###NET M2             LOC="P100" | IOSTANDARD=LVTTL | CLOCK_DEDICATED_ROUTE;

NET CONSOLE_CE     LOC="P58"  | IOSTANDARD=LVTTL; # Active low
NET CART_CE        LOC="P55"  | IOSTANDARD=LVTTL; # Active low

#NET LED1           LOC="P112" | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW;          # LED1